.productReview {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    max-width: 50%;
    margin: 65px auto;
    border-radius: 6px;
}

.productReview hr {
    border: 1px solid #2D4832;
    width: 84%;
}

