.contactForm {
    background-color: #eee;
    padding: 20px;
    margin: 5px auto 50px;
    max-width: 500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.inputField {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
}

.inputField input, .inputField textarea {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.inputField p {
    font-size: .9rem;
    color: #F43010;
}

.submitBtn {
    width: 80%;
    margin: auto;
    background-color: #F47C3C;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.submitBtn:hover {
    background-color: #e96b2a;
}