.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin: 20px auto;
    max-width: 950px;
    padding: 10px;
}

.spinner {
  width: 50px;
  padding: 8px;
  margin: 20px auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--contrast-color);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
