.wrapper {
    width: 100%;
    background-color: var(--header-bg-color);
    border-bottom: 1px solid #ccc; 
    color: var(--main-color);
  }

.container {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 1.6rem;
}

.wrapper a {
    text-decoration: none;
}

.logoTitle {
    font-family: var(--logo-font);
    font-weight: 400;
    font-style: normal;   
    font-size: 1.6rem;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--main-color);
}

.logo:hover {
    cursor: pointer;
}

.logoIcon {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 5px 5px 0px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}

.toggleBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    color: var(--main-color);
    margin-right: 20px;
    transition: color 0.3s ease;
}

@media (max-width: 620px) {
    .logoTitle {
        font-size: 1.2rem;
    }
}








