.searchBarWrapper {
    display: flex;
    background-color: var(--search-bg-color);
    max-width: fit-content;
    margin: 5px auto;
    border: none;
    padding: 5px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    color: var(--search-color-text);
}

.searchInput {
    border: none;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.2s;
    background-color: var(--search-bg-color);
    color: var(--search-color-text);
}

.searchBarWrapper:hover {
    box-shadow: var(--box-shadow-hover); 
    transform: translateY(-1px); 
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    cursor: text;
}