.navBar {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList a {
    text-decoration: none;
    color: var(--main-color);
}

.navList a:hover {
    color: var(--nav-hover-color);
}

@media (max-width: 620px) {

}