.successContainer {
    margin: 50px auto;
    border: 2px solid #2D4832;
    max-width: fit-content;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    background-color: #fef9f9;
}

.successContainer p {
    font-size: 1.4rem;
}

.successIcon {
    font-size: 3rem;
}

.successBtn {
    background-color: #F47C3C;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.successBtn:hover {
    background-color: #e96b2a;
}